@import url('https://fonts.googleapis.com/css?family=Bitter');
body{
	font-family: 'Bitter', serif;
}
:root {
    --main-bg-color: #7ed56f;
    --main-text-color:#ffffff;
}
/*h6,h5,p{
	color: var(--main-text-color);
}*/
.navbar-dark a.btn-link{
	color: #000;
}
.navbar-dark a.btn-link:hover{
    text-decoration: none;
    color: #a1a1a1;
}
.main-content i{
	font-size: 40px;
}


/*Solutions Section*/
.solutions .heading{
    color: #000;
    text-align: center;
}
.new-card{
	box-sizing: border-box;
	box-shadow: 10px 10px 40px 0 #5f5f5f;
	padding: 3%;
	/*border:1px solid #000;*/
}
.solutions .icon-content i{
    height: 90px;
    padding: 20px;
}
.solutions .fa-stack-2x{
    color: var(--main-bg-color);
    font-size: 60px;
}
.solutions .icon-content h6{
    height: 50px;
}



/*Client Slider*/
#client-slider{
    margin: 5rem;
}


/*Latest Post Section*/
.latest-post{
    background: #f6f6f6;
}
.latest-post .single-post{
    float: left;
    display: inline-block;
    background: var(--main-bg-color);
    border-radius: 20px;
    margin-right:2%;
    padding: 2rem;
}
.single-post p{
    height: 150px;
}


/*Contact*/
#contact-section{
	background-color: #262626;
	color: var(--main-bg-color);
	padding: 20px;
}
#contact-section .heading{
	color: #fff;
}
.contact-address{

}
.social-icons a{
	font-size: 25px;
	color:  var(--main-bg-color);
}
/*Slider*/
/*@import url(https://fonts.googleapis.com/css?family=Varela+Round);


.slides {
    padding: 0;
    margin-top: -20px !important;
    width: 100%;
    height: 100vh;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100vh;
}

.nav label {
    width: 100px;
    height: 0%;
    display: none;
    position: absolute;
	  opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 80pt;
    text-align: center;
    line-height: 780px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
    .nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}

	/*background-color: rgba(0, 0, 0, 0.9);*/
    
}
.

  .carousel-item img {
      width: 100%;
      height: 100vh;
  }
/*Back to Top*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}